<div class="container profile">
  <h1 class="text-center mt-3">My Profile</h1>
  <div class="infos-user-profile">
    <i class="fa-solid fa-user-pen edit-icon"></i>
    <ul>
      <li><i class="fa-solid fa-user"></i><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></li>
      <li><i class="fa-solid fa-phone"></i><%= current_user.phone_number %></li>
      <li><i class="fa-solid fa-envelope"></i><%= current_user.email %></li>
      <li><i class="fa-solid fa-location-dot"></i><%= current_user.address %></li>
    </ul>
  </div>

  <div class="title-pets">
    <h1 class="text-center mt-3">My Pets</h1>
    <p><i class="fa-solid fa-circle-plus"></i></p>
  </div>


  <div class="my-pets">
    <% current_user.animals.each do |animal| %>
      <div class="card-pet">
        <div class="img-avatar">
         <% if animal.photo.attached? %>
          <%= cl_image_tag animal.photo.key %>
         <% else %>
          <%= image_tag "Avatar_animal" %>
         <% end %>
        </div>
        <div class="pet-info">
          <p><%= animal.name.capitalize %></p>
          <p><%= animal.specie.capitalize %> (<em><%= animal.breed.capitalize %></em>)</p>
          <p><%= animal.age %> Years Old</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
