<div class="container profile">
  <h1 class="text-center mt-3">My Profile</h1>
  <div class="infos-user-profile">
    <i class="fa-solid fa-user-pen edit-icon"></i>
    <ul>
      <li><i class="fa-solid fa-user"></i><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></li>
      <li><i class="fa-solid fa-phone"></i><%= current_user.phone_number %></li>
      <li><i class="fa-solid fa-envelope"></i><%= current_user.email %></li>
      <li><i class="fa-solid fa-location-dot"></i><%= current_user.address %></li>
    </ul>
  </div>

  <div class="title-pets">
    <% if current_user.animals.any? %>
      <h1 class="text-center mt-3">My Pets</h1>
    <% else %>
      <h1 class="text-center mt-3">Add my first pet</h1>
    <% end %>
    <p type="button" class="fa-solid fa-circle-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></p>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Your Animal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container p-2">
          <%= simple_form_for @animal, html: { multipart: true } do |f| %>
            <div class="mb-3">
              <%= f.input :name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :birthdate, as: :string, input_html: { data: { controller: "datepicker" }, class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :specie, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :breed, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
            </div>
            <div class="mb-3">
              <%= f.input :photo, as: :file, input_html: { class: 'form-control' } %>
            </div>
            <div class="modal-footer">
              <%= f.submit "Create your animal", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= link_to "Go back to my profile", profile_path, class: 'btn btn-dark' %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="my-pets">
    <% current_user.animals.each do |animal| %>
      <div class="card-pet">
        <div class="img-avatar">
         <% if animal.photo.attached? %>
          <%= cl_image_tag animal.photo.key %>
         <% else %>
          <%= image_tag "Avatar_animal" %>
         <% end %>
        </div>
        <div class="pet-info">
          <p><%= animal.name.capitalize %></p>
          <p><%= animal.specie.capitalize %> (<em><%= animal.breed.capitalize %></em>)</p>
          <p><%= animal.age %> Years Old</p>
        </div>
      </div>
    <% end %>
  </div>

  <h1 class="text-center mt-5">My Bookings</h1>

  <div class="bookings-container">
    <% current_user.animals.each do |a| %>
      <% if a.bookings.any? %>
        <%# <h1 class="text-center mt-5">My bookings</h1> %>
        <% a.bookings.each do |booking| %>
          <%= render 'bookings/my_bookings', booking: booking %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
