<div class="container-profile">
  <%= render 'profiles/infos_profile' %>
</div>

  <div class="container-favs">
    <% @favorites.each do |favorite| %>
      <div class="infooos-container">
        <div class="image-title-container">
          <div class="image-container">
            <% if favorite.professional.photo.attached? %>
              <%= cl_image_tag favorite.professional.photo.key, class: "pro-photo" %>
            <% else %>
              <%= image_tag "professional_avatar/#{favorite.professional.profession.downcase}.png", class: "pro-photo" %>
            <% end %>
          </div>


          <div class="infos">
              <%= link_to user_path(favorite.professional) do %>
                <p><strong><%= favorite.professional.company_name.upcase %> </strong></p>
              <% end %>
              <% if favorite.professional.profession == "veterinarian" %>
                <p><strong>Dr. <%= favorite.professional.last_name.capitalize %></strong> - <em><%= favorite.professional.profession.capitalize %></em></p>
              <% else %>
                <p><strong><%= favorite.professional.first_name.capitalize %> <%= favorite.professional.last_name.capitalize %></strong> - <em><%= favorite.professional.profession.capitalize %></em></p>
            <% end %>
          </div>
          <%= link_to favorite_path(favorite.professional, source: "favorites"), data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-heart heart-fav"></i>
          <% end %>
        </div>

        <div class="coordonnees">
          <p class="text-card-pro"><strong><i class="fa-solid fa-location-dot"></i></strong> <%= favorite.professional.address %></p>
          <p class="text-card-pro"><strong><i class="fa-solid fa-phone"></i></strong> <%= favorite.professional.phone_number %></p>
        </div>
      </div>
    <% end %>
  </div>
