<div class="my-bookings-container">
  <h1 class="text-center"><%= booking.animal.name.capitalize %></h1>
  <div class="info-veto">
    <div class="name-date">
      <div class="name">
        <div class="img-veto">
          <% if booking.animal.photo.attached? %>
            <%= cl_image_tag booking.animal.photo.key %>
          <% else %>
            <%= image_tag "veterinaire.png" %>
          <% end %>
        </div>
        <div class="profession">
        <%= link_to user_path(booking.user) do %>
        <strong>Dr. <%= booking.user.last_name.capitalize %></strong>
        <% end %>
          <em><%= booking.user.profession.capitalize %></em>
        </div>
      </div>
    </div>
    <div class="coordonnees">
      <p><strong>Date:</strong> <%= booking.date.strftime("%d/%m/%Y") %></p>
      <p><strong>Address:</strong> <%= booking.user.address %></p>
      <p><strong>Phone:</strong> <%= booking.user.phone_number %></p>
      <p><strong>Reason:</strong> <%= booking.reason %></p>
    </div>
    <div class="cancel-container">
      <%= link_to "Cancel", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "cancel text-center" %>
    </div>
  </div>
</div>
