<div class="container-bookings">
  <div class="flex-booking">
    <h1><i class="fa-solid fa-calendar-check"></i> Bookings </h1>
  </div>
    <div class="booking-new">
      <%= simple_form_for [@professional, @booking] do |f| %>
      <%= f.association :animal, collection: current_user.animals, class: "input-booking" %>
      <%= f.input :date, wrapper_html: { class: "d-none" }, input_html: { value: @booking.date }, class: "input-booking" %>
      <%= f.input :reason, label: "Appointment reason", class: "input-booking" %>
      <div class="submit-container">
        <%= f.submit "Book an appointment", class: "submit-booking" %>
      </div>
      <% end %>
    </div>
</div>

