<div class="container">
  <h1>Bookings#new</h1>
  <%= simple_form_for [@professional, @booking] do |f| %>
    <%= f.association :animal, collection: current_user.animals %>
    <%= f.input :date, wrapper_html: { class: "d-none" }, input_html: { value: @booking.date } %>
    <%= f.input :reason, label: "Motif du rdv" %>
    <%= f.submit "book" %>
  <% end %>
</div>
