<div class="container-calendar">
  <div class="souscontainer">
     <i class="fa-solid fa-arrow-left left-arrow"></i>
    <% slots.each_with_index do |day_data, d_idx| %>
      <div class="slotcontainer">
        <div class="days"> <strong><%= day_data[:date].strftime("%a %e %b") %></strong></div>
        <% day_data[:slots].first(5).each_with_index do |slot_data, s_idx| %>
          <% if slot_data[:available] %>
            <div >
              <% min = slot_data[:slot].start.to_s.match(/(\d{2})$/)&.captures&.first %>
              <% hour = slot_data[:slot].start.to_s.gsub(/(\d{2})$/, "") %>
              <% datetime = ActiveSupport::TimeZone["Europe/Paris"].parse("#{day_data[:date].to_s} #{hour}:#{min}") %>
              <%# <%= link_to "#{hour}:#{min}", new_user_booking_path(professional, date: datetime), class: "availableslot"%>
              <!-- Button trigger modal -->
              <button type="button" data-bs-toggle="modal" class="availableslots border border-0" data-bs-target="#<%= d_idx %>-<%= s_idx %>">
                <%= "#{hour}:#{min}" %>
              </button>

              <!-- Modal -->
              <%= render "bookings/booking_form", min: min, hour: hour, s_idx: s_idx, d_idx: d_idx, day_data: day_data, professional: @professional, booking: @booking %>
            </div>
          <% else %>
            <div class="unavailable-slot">
              <div class="rounded-bar"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
      <i class="fa-solid fa-arrow-right right-arrow"></i>
  </div>
</div>
