<div class="card">
    <div class="title">
      <div class="img-pro">
        <% if professional.photo.attached? %>
              <%= cl_image_tag professional.photo.key %>
            <% else %>
              <%= image_tag "professional_avatar/#{professional.profession.downcase}.png" %>
            <% end %>
      </div>
      <h6><strong><%= professional.company_name.upcase %></strong></h6>
    </div>


      <div class="name">
        <% if professional.profession == "veterinarian" %>
          <p> Dr.  <%= professional.first_name %> </p>
          <p><%= professional.last_name %></p>
        <% else %>
          <p><%= professional.first_name %> </p>
          <p><%= professional.last_name %></p>
        <% end %>
      </div>
    <p> <%=  professional.profession.capitalize %></p>
    <p class="leger"> <%= professional.address %></p>

    <% if current_page?(users_path) %>
      <div class="button-containerr">
        <%= link_to "Check out", user_path(professional), class: "nav-link button" %>
      </div>
    <% end %>

</div>
