  <h4> <strong><%= professional.company_name.upcase %></strong></h4>
  <div>
    <h5><%= professional.first_name %></h5>
    <h5><%= professional.last_name %></h5>
  </div>
  <p> <%=  professional.profession.capitalize %></p>
  <p><%= professional.address %></p>
