<h1> Users/Professionals </h1>

<% if current_user = @users%>
  <% @users.each do |user|%>
  <%= user.first_name %>
  <%= user.last_name %>
  <%= user.address %>
  <% end %>
<% else current_user = @professionals %>
  <% @professionals.each do |professional|%>
  <%= professional.first_name %>
  <%= professional.profession %>
  <% end %>
<% end %>
