<div class="container">
 <div class="header-pro">
  <div class="infos">
    <div class="img-container">
      <% if @professional.photo.attached? %>
        <%= cl_image_tag professional.photo.key %>
      <% else %>
        <%= image_tag "professional_avatar/#{@professional.profession.downcase}.png" %>
      <%end%>
    </div>
    <h5> <strong> <%= @professional.company_name.upcase %> </strong> </h5>
    <h6> Dr. <%= @professional.first_name.capitalize %> <%= @professional.last_name.capitalize %> </h6>
    <h6> <%= @professional.profession.capitalize %> </h6>
    <h6> <%= @professional.description %> </h6>
  </div>
</div>

<div class="card-info">
  <div class="card-details">
    <h6><strong> Address </strong></h6>
    <h6> <%= @professional.address %> </h6>
  </div>
   <div class="card-details">
    <h6><strong> Phone number </strong></h6>
    <h6> <%= @professional.phone_number %> </h6>
  </div>
  <div class="card-details">
    <h6><strong> Email </strong></h6>
    <h6> <%= @professional.email %> </h6>
  </div>
</div>

<div>
  <%= render "users/calendar", slots: @slots, professional: @professional %>
</div>

  <div style="width: 100%; height: 500px; margin: 0 auto; margin-bottom: 100px; position: sticky; top: 0;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>

<%= render "shared/footer" %>
