<div class="container">

 <h1> Show users </h1>

 <div class="header-pro">
  <div class="infos">
    <div class="img-container">
      <% if @professional.photo.attached? %>
        <%= cl_image_tag professional.photo.key %>
      <% else %>
        <%= image_tag "professional_avatar/#{@professional.profession.downcase}.png" %>
      <%end%>
    </div>
    <h5> <strong> <%= @professional.company_name.upcase %> </strong> </h5>
    <h6> Dr. <%= @professional.first_name.capitalize %> <%= @professional.last_name.capitalize %> </h6>
    <h6> <%= @professional.profession.capitalize %> </h6>
    <h6> <%= @professional.description %> </h6>
  </div>
</div>

<div class="card-info">
  <div class="card-details">
    <h6><strong> Address </strong></h6>
    <h6> <%= @professional.address %> </h6>
  </div>
   <div class="card-details">
    <h6><strong> Phone number </strong></h6>
    <h6> <%= @professional.phone_number %> </h6>
  </div>
  <div class="card-details">
    <h6><strong> Email </strong></h6>
    <h6> <%= @professional.email %> </h6>
  </div>
</div>

<div>
<h1> Calendrier </h1>
  <%= render "users/calendar", slots: @slots %>
</div>


  <h1> Maps </h1>


  <div style="width: 80%; height: 350px; margin: 0 auto; margin-bottom: 100px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>
