
<div class="animal-container">
  <div class="header-animal-container">
    <i class="fa-solid fa-trash-can trash"></i>
    <div class="img-container">
      <%= image_tag "Avatar_animal" %>
    </div>
  <div class="infos-animal">
    <p class="name"><%= @animal.name.capitalize %></p>
    <div class="desc-animal">
      <p><%= @animal.specie.capitalize %> -</p>
      <p> <%= @animal.breed.capitalize %> -</p>
      <p> <%= @animal.age %> Years Old</p>
    </div>
  </div>
  <div class="pages-containt">
    <p><i class="fa-solid fa-book-medical"></i> Health Records</p>
    <p><i class="fa-solid fa-calendar-check"></i> Bookings</p>
    <p><i class="fa-solid fa-file"></i> Documents</p>
    <p><i class="fa-solid fa-folder-plus" ></i> <%= link_to 'Add an event', new_animal_health_record_path(@animal) %></p>
  </div>
</div>

</div>
